<!DOCTYPE html>
<html lang="en">
<head>

    {% include 'head.html' %}

</head>
<body class="default-styling">

{% include 'navbar.html' %}

<div class="container">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <h1>Contact ☎️</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p class="text-center">Use the links below to get in touch with me:</p>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-center">
            <div class="row">
                <div class="col">
                    <img alt="github icon" src="images/github-32.png">
                    <a href="https://github.com/henryzord">GitHub</a>
                    <img alt="email icon" src="images/email-32.png">
                    <a href="mailto:henry.cagnini@gmail.com">Email</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

{% include 'scripts.html' %}

</html>