<!DOCTYPE html>
<html lang="en">
<head>
{% include 'head.html' %}
</head>
<body class="default-styling">

{% include 'navbar.html' %}

<div class="container main-container">
    <div class="row">
        <div class="col-12">
            <h2>Contact ☎️</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p class="lead">
                Use the links below to get in touch with me:
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-start">
            <div class="row">
                <div class="col">
                    <img alt="github icon" src="images/github-32.png">
                    <a href="https://github.com/henryzord">GitHub</a>
                    <img alt="email icon" src="images/email-32.png">
                    <a href="mailto:henry.cagnini@gmail.com">Email</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

{% include 'scripts.html' %}

</html>