<!DOCTYPE html>
<html lang="en">
<head>

    {% include 'head.html' %}

</head>
<body class="default-styling">

{% include 'navbar.html' %}

<div class="container main-container">
    <div class="row">
        <div class="col-12">
            <h2>Highlights 🌟</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p class="lead">
                These are some of the most important moments of my professional life!
            </p>
        </div>
    </div>
    <div class="row d-flex justify-content-center row-cols-1 row-cols-sm-1 row-cols-md-2 g-4">
        {{ highlights_cards }}
    </div>
    </div>
</div>
</body>

{% include 'scripts.html' %}

</html>