<!DOCTYPE html>
<html lang="en">
<head>

    {% include 'head.html' %}

</head>
<body class="default-styling">

{% include 'navbar.html' %}

<div class="container d-flex justify-content-center main-container">
    <div class="row align-items-center">
        <div class="col-lg-6 col-sm-12 d-flex justify-content-center">
            <img class="img-fluid rounded-circle" alt="thumbnail of page author" src="images/thumbnail.jpg"/>
        </div>
        <div class="col-lg-6 col-sm-12 justify-content-start">
            <div class="row">
                <div class="col-12">
                    <h2>Hello World! 🌎</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12"></div>
                    <p class="lead" style="margin-left: 15px;">
                        That's my personal web page, describing my professional history and interesting projects that I
                        am or was working on. Feel free to navigate this webpage using the menu above.
                    </p>
            </div>
        </div>
    </div>
</div>
</body>

{% include 'scripts.html' %}

</html>