<ul class="nav nav-bar">
    <li class="nav-item">
        <a class="nav-link" href="../index.html">Henry Cagnini</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="../index.html">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="../experience.html">Experience</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="../projects.html">Projects</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="../contact.html">Contact</a>
    </li>
</ul>