<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <title>Henry Cagnini</title>

    <meta content="Personal page of henryzord at GitHub" name="description">
    <meta content="henryzord" name="author">

    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="../images/favicon.ico">

</head>
<body class="mypage-background">

    {{ navigation_bar }}

<div class="container-fluid">

    {{ lattes_graph }}

</div>

</body>
<script src="../js/jquery.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/scripts.js"></script>
</html>